<link rel="stylesheet" href="style.css">
<nav class="navbar navbar-expand-md navbar-dark  fnav"
	th:fragment="nav-front">
		

	<div class="collapse navbar-collapse fix">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link"
				href="/">Nishant Kumar</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/education">Education</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/projects">Projects</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/skills">Skills</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/contactdetails">Contact Details</a></li>

		</ul>
		<ul class="navbar-nav mr-left">
			<li class="nav-item active"><a class="nav-link"
				href="/how">How was this portfolio made?</a></li>
		</ul>

	</div>
</nav>