<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head th:replace="/fragments/head"></head>
<body class="bdy">
<head th:replace="/fragments/nav :: nav-front"></head>
<div class="container-fluid mt-5 ">
	<div class="row bg">
		<div class="infoContainer">
			<div class="devPic">
				<img src="/media/nishant.jpg" alt="Nishant Kumar">
			</div>
			<div class="devInfo">
				<div class="hello">Hi I am</div>
				<div class="name">Nishant Kumar</div>
				<div class="about">Spring Developer</div>
				<div class="mabout">
					Hi, I am a Post-Graduate in Computer Application(MCA) with good
					knowledge of Spring and also did an Internship with Xoriant
					Solutions. I have made several projects in Spring and like to work
					in a team as there are many possibilities to solve any kind of
					problem together. Currently, I am looking for a good opportunity in
					Java Tech Stack to give a kick-start to my career. <br> I am a
					2022 Passout of Chandigarh University hunting for a job. I have
					skills in Spring(Backend development), JDBC, Eclipse, MySQL, MySQL
					Workbench. I have also made projects by using my skills to showcase
					my talent.
				</div>
			</div>
		</div>
	</div>
</div>
<head th:replace="/fragments/footer"></head>
</body>
</html>