<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head th:replace="/fragments/head"></head>
<body class="bdy">
<head th:replace="/fragments/nav :: nav-front"></head>
<div class="container-fluid mt-5 ">
	<div class="how">
		<h1 class="hello">How was this made?</h1>
	</div>
	<div class="howd">This Portfolio Web Application was made using
		HTML and CSS for Front-end and Spring for Back-end development. This
		Application is made without any Template or any ready code, everything
		in this application is designed from scratch. As a specialized
		Back-end developer, I don't have much knowledge about Front-end
		development but still I managed to make it through my hard-work and
		patience. This Application is built to showcase my Back-end skills.</div>
</div>
<head th:replace="/fragments/footer"></head>
</body>
</html>